<div class="row" *ngIf="!viewDataIsInitialized()">
    <div class="col-12">Loading...</div>
</div>

<div class="row mb-3" *ngIf="viewDataIsInitialized()">
    <div class="col-12 col-md-6">
        <mat-card>
            <h4 class="mb-3">Settings</h4>
            <mat-card-content>
                <mat-form-field appearance="fill" class="full-width">
                    <mat-label>Asset chain</mat-label>
                    <select matNativeControl [(ngModel)]="selectedAssetChainId">
                        <option disabled></option>
                        <option *ngFor="let assetChainId of getAssetChainIds()" [value]="assetChainId">
                            {{ formAssetChainString(assetChainId) }}
                        </option>
                    </select>
                </mat-form-field>
                <mat-form-field appearance="fill" class="full-width">
                    <mat-label>Order execution type</mat-label>
                    <select matNativeControl [(ngModel)]="selectedOrderExecutionType">
                        <option disabled></option>
                        <option value="STUB">STUB</option>
                        <option value="MARKET">MARKET</option>
                    </select>
                </mat-form-field>
                <mat-form-field appearance="fill" class="full-width">
                    <mat-label>Amount</mat-label>
                    <input matInput type="number" [(ngModel)]="amount">
                </mat-form-field>
                <mat-form-field appearance="fill" class="full-width">
                    <mat-label>Min profit threshold</mat-label>
                    <input matInput type="number" [(ngModel)]="minProfitThreshold">
                </mat-form-field>
            </mat-card-content>
        </mat-card>
        <button mat-raised-button color="primary" class="full-width mt-3" (click)="startNewChainExchangeExecution()">Start</button>
    </div>
</div>
