<button mat-fab color="accent" routerLink="/new-chain-exchange-execution" class="add-button">
    <mat-icon>add</mat-icon>
</button>

<div class="row">

    <div class="col-12 col-md-4 mb-3" *ngFor="let chainExchangeExecution of chainExchangeExecutions">
        <mat-card>
            <div class="mb-3">
                <button mat-mini-fab disabled>
                    <mat-icon>repeat</mat-icon>
                </button>
                <span class="card-header-text">
                    {{ formAssetChainString(chainExchangeExecution) }}
                </span>
            </div>
            <mat-card-content>
                <table class="table mb-0">
                    <tbody>
                        <tr>
                            <td>Order execution type</td>
                            <td>{{chainExchangeExecution.orderExecutionType}}</td>
                        </tr>
                        <tr>
                            <td>Amount</td>
                            <td>{{chainExchangeExecution.amount}}</td>
                        </tr>
                        <tr>
                            <td>Min profit threshold</td>
                            <td>{{chainExchangeExecution.minProfitThreshold}}</td>
                        </tr>
                    </tbody>
                </table>
                <button mat-flat-button color="primary" class="full-width" (click)="stopChainExchangeExecution(chainExchangeExecution)">Stop</button>
            </mat-card-content>
        </mat-card>
    </div>

</div>
