<button mat-fab color="accent" routerLink="/new-strategy-execution" class="add-button">
    <mat-icon>add</mat-icon>
</button>

<div class="row">

    <div class="col-12 col-md-4 mb-3" *ngFor="let strategyExecution of strategyExecutions">
        <mat-card>
            <div class="mb-3">
                <button mat-mini-fab disabled>
                    <mat-icon>shuffle</mat-icon>
                </button>
                <span class="card-header-text">
                    {{strategyExecution.id}}
                </span>
            </div>
            <mat-card-content>
                <table class="table mb-0">
                    <tbody>
                        <tr>
                            <td>Order execution type</td>
                            <td>{{strategyExecution.orderExecutionType}}</td>
                        </tr>
                        <tr>
                            <td>Symbols</td>
                            <td>{{strategyExecution.symbols}}</td>
                        </tr>
                        <tr>
                            <td>Funds per trade</td>
                            <td>{{strategyExecution.fundsPerTrade}}</td>
                        </tr>
                    </tbody>
                </table>
                <div class="row">
                    <div class="col-6">
                        <button mat-flat-button color="primary" class="full-width" routerLink="/strategy-executions/{{strategyExecution.id}}">Details</button>
                    </div>
                    <div class="col-6">
                        <button mat-flat-button color="accent" class="full-width" (click)="stopStrategyExecution(strategyExecution.id)">Stop</button>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
    </div>

</div>
