<div class="row mb-4">
    <div class="col-sm-12 col-lg-4">
        <h3>Strategy executions</h3>
        <a routerLink="/new-strategy-execution" class="btn btn-success btn-block mt-3">New</a>
    </div>
</div>

<div class="row">

    <div class="col-sm-12 col-lg-4" *ngFor="let strategyExecution of strategyExecutions">
        <div class="card bg-light mb-4 custom-card">
            <div class="card-body">
                <h4>
                    <fa-icon icon="random" [fixedWidth]="true"></fa-icon>
                    {{strategyExecution.id}}
                </h4>
                <table class="table table-hover mt-3">
                    <tbody>
                        <tr>
                            <th scope="row">Order execution type</th>
                            <td>{{strategyExecution.orderExecutionType}}</td>
                        </tr>
                        <tr>
                            <th scope="row">Symbols</th>
                            <td>{{strategyExecution.symbols}}</td>
                        </tr>
                        <tr>
                            <th scope="row">Funds per trade</th>
                            <td>{{strategyExecution.fundsPerTrade}}</td>
                        </tr>
                    </tbody>
                </table>
                <a routerLink="/strategy-executions/{{strategyExecution.id}}" class="btn btn-md btn-info btn-block">Details</a>
                <button type="button" class="btn btn-md btn-primary btn-block" (click)="stopStrategyExecution(strategyExecution.id)">Stop</button>
            </div>
        </div>
    </div>

</div>
