<div class="row" *ngIf="!viewDataIsInitialized()">
    <div class="col-12">Loading...</div>
</div>

<div class="row mb-3" *ngIf="viewDataIsInitialized()">
    <div class="col-12 col-md-3">
        <button mat-raised-button color="accent" class="full-width" (click)="stopStrategyExecution()">Stop</button>
    </div>
</div>

<div class="row" *ngIf="viewDataIsInitialized()">

    <div class="col-12 col-md-6 mb-3">
        <mat-card>
            <h4 class="mb-3">General information</h4>
            <mat-card-content>
                <table class="table mb-0">
                    <tbody>
                        <tr>
                            <td>Id</td>
                            <td>{{strategyExecution?.id}}</td>
                        </tr>
                        <tr>
                            <td>Order execution type</td>
                            <td>{{strategyExecution?.orderExecutionType}}</td>
                        </tr>
                        <tr>
                            <td>Symbols</td>
                            <td>{{strategyExecution?.symbols}}</td>
                        </tr>
                        <tr>
                            <td>Funds per trade</td>
                            <td>{{strategyExecution?.fundsPerTrade}}</td>
                        </tr>
                    </tbody>
                </table>
            </mat-card-content>
        </mat-card>
    </div>

    <div class="col-12 col-md-6 mb-3">
        <mat-card>
            <h4 class="mb-3">Rules</h4>
            <mat-card-content>
                <table class="table mb-0">
                    <tbody>
                        <tr>
                            <td>Entry</td>
                            <td>
                                <p class="mb-0" *ngFor="let line of strategyExecution?.entryRuleDescription">{{line}}</p>
                            </td>
                        </tr>
                        <tr>
                            <td>Exit</td>
                            <td>
                                <p class="mb-0" *ngFor="let line of strategyExecution?.exitRuleDescription">{{line}}</p>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </mat-card-content>
        </mat-card>
    </div>

    <div class="col-12 col-md-6 mb-3" *ngIf="equityCurveShouldBeShown">
        <mat-card>
            <h4 class="mb-3">Equity curve</h4>
            <mat-card-content>
                <apx-chart
                    [series]="chartOptions.series"
                    [chart]="chartOptions.chart"
                    [stroke]="chartOptions.stroke"
                    [labels]="chartOptions.labels"
                    [colors]="chartOptions.colors"
                ></apx-chart>
            </mat-card-content>
        </mat-card>
    </div>

    <div class="col-12 col-md-6 mb-3">
        <mat-card>
            <h4 class="mb-3">Performance metrics</h4>
            <mat-card-content>
                <table class="table mb-0">
                    <tbody>
                        <tr>
                            <td>N trades</td>
                            <td>{{report?.ntrades}}</td>
                        </tr>
                        <tr>
                            <td>N closed trades</td>
                            <td>{{report?.nclosedTrades}}</td>
                        </tr>
                        <tr>
                            <td>N profitable trades</td>
                            <td>{{report?.nprofitableTrades}}</td>
                        </tr>
                        <tr>
                            <td>Total profit</td>
                            <td>{{report?.totalProfit}}</td>
                        </tr>
                    </tbody>
                </table>
            </mat-card-content>
        </mat-card>
    </div>

</div>
