<div class="row mb-4">
    <div class="col-sm-12 col-lg-4">
        <h3>Order executions</h3>
        <a routerLink="/new-order-execution" class="btn btn-success btn-block mt-3">New</a>
    </div>
</div>

<div class="row">

    <div class="col-sm-12 col-lg-4" *ngFor="let orderExecution of orderExecutions">
        <div class="card bg-light mb-4 custom-card">
            <div class="card-body">
                <h4>
                    <fa-icon icon="angle-right" [fixedWidth]="true"></fa-icon>
                    {{orderExecution.id}}
                    <span class="badge bg-primary text-white float-right" *ngIf="!orderExecution.timestamp">
                        <small>In progress</small>
                    </span>
                    <span class="badge bg-success text-white float-right" *ngIf="orderExecution.timestamp">
                        <small>Executed</small>
                    </span>
                </h4>
                <table class="table table-hover mt-3">
                    <tbody>
                        <tr>
                            <th scope="row">Order execution type</th>
                            <td>{{orderExecution.orderExecutionType}}</td>
                        </tr>
                        <tr>
                            <th scope="row">Order type</th>
                            <td>{{orderExecution.orderType}}</td>
                        </tr>
                        <tr>
                            <th scope="row">Symbol</th>
                            <td>{{orderExecution.symbol}}</td>
                        </tr>
                        <tr>
                            <th scope="row">Amount</th>
                            <td>{{orderExecution.amount}}</td>
                        </tr>
                        <tr *ngIf="orderExecution.timestamp">
                            <th scope="row">Execution price</th>
                            <td>{{orderExecution.price}}</td>
                        </tr>
                        <tr *ngIf="orderExecution.timestamp">
                            <th scope="row">Execution time</th>
                            <td>{{ getExecutionTime(orderExecution) }}</td>
                        </tr>
                        <tr>
                            <th scope="row">Rule</th>
                            <td>
                                <p *ngFor="let line of orderExecution?.ruleDescription">{{line}}</p>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <button type="button" class="btn btn-md btn-primary btn-block" (click)="stopOrderExecution(orderExecution.id)">Stop</button>
            </div>
        </div>
    </div>

</div>
