<button mat-fab color="accent" routerLink="/new-order-execution" class="add-button">
    <mat-icon>add</mat-icon>
</button>

<div class="row">

    <div class="col-12 col-md-4 mb-3" *ngFor="let orderExecution of orderExecutions">
        <mat-card>
            <div class="mb-3">
                <button mat-mini-fab disabled>
                    <mat-icon>add_comment</mat-icon>
                </button>
                <span class="card-header-text">
                    {{orderExecution.id}}
                </span>
                <button mat-flat-button disabled class="float-right" *ngIf="!orderExecution.timestamp">In progress</button>
                <button mat-flat-button color="primary" class="float-right" *ngIf="orderExecution.timestamp">Executed</button>
            </div>
            <mat-card-content>
                <table class="table mb-0">
                    <tbody>
                        <tr>
                            <td>Order execution type</td>
                            <td>{{orderExecution.orderExecutionType}}</td>
                        </tr>
                        <tr>
                            <td>Order type</td>
                            <td>{{orderExecution.orderType}}</td>
                        </tr>
                        <tr>
                            <td>Symbol</td>
                            <td>{{orderExecution.symbol}}</td>
                        </tr>
                        <tr>
                            <td>Amount</td>
                            <td>{{orderExecution.amount}}</td>
                        </tr>
                        <tr *ngIf="orderExecution.timestamp">
                            <td>Execution price</td>
                            <td>{{orderExecution.price}}</td>
                        </tr>
                        <tr *ngIf="orderExecution.timestamp">
                            <td>Execution time</td>
                            <td>{{ getExecutionTime(orderExecution) }}</td>
                        </tr>
                        <tr>
                            <td>Rule</td>
                            <td>
                                <p class="mb-0" *ngFor="let line of orderExecution?.ruleDescription">{{line}}</p>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <button mat-flat-button color="accent" class="full-width" *ngIf="!orderExecution.timestamp" (click)="stopOrderExecution(orderExecution.id)">Stop</button>
                <button mat-flat-button color="accent" class="full-width" *ngIf="orderExecution.timestamp" (click)="removeOrderExecution(orderExecution.id)">Remove</button>
            </mat-card-content>
        </mat-card>
    </div>

</div>
