<div class="row justify-content-center">
    <div class="col-md-4 mt-5 mb-5">
        <h2 jhiTranslate="global.title" class="navbar-title mb-5">TSE</h2>
        <div class="alert alert-danger mb-3" *ngIf="authenticationError" jhiTranslate="login.messages.error.authentication">
            <strong>Failed to sign in!</strong> Please check your credentials and try again.
        </div>
        <input type="login" class="form-control mb-3" [(ngModel)]="login" placeholder="{{ 'global.form.login' | translate }}"/>
        <input type="password" class="form-control mb-3" [(ngModel)]="password" placeholder="{{ 'global.form.password' | translate }}"/>
        <button type="button" class="btn btn-primary btn-block" (click)="signIn()" jhiTranslate="login.form.button">Sign in</button>
    </div>
</div>
