<div class="row" *ngIf="!viewDataIsInitialized()">
    <div class="col-12">Loading...</div>
</div>

<div class="row mb-3" *ngIf="viewDataIsInitialized()">
    <div class="col-12 col-md-6">

        <mat-card class="mb-3">
            <h4 class="mb-3">Settings</h4>
            <mat-card-content>
                <mat-form-field appearance="fill" class="full-width">
                    <mat-label>Order execution type</mat-label>
                    <select matNativeControl [(ngModel)]="selectedOrderExecutionType">
                        <option disabled></option>
                        <option value="STUB">STUB</option>
                        <option value="MARKET">MARKET</option>
                    </select>
                </mat-form-field>
                <mat-form-field appearance="fill" class="full-width">
                    <mat-label>Order type</mat-label>
                    <select matNativeControl [(ngModel)]="selectedOrderType">
                        <option disabled></option>
                        <option value="BUY">BUY</option>
                        <option value="SELL">SELL</option>
                    </select>
                </mat-form-field>
                <mat-form-field appearance="fill" class="full-width">
                    <mat-label>Symbol</mat-label>
                    <select matNativeControl [(ngModel)]="selectedSymbol">
                        <option disabled></option>
                        <option *ngFor="let symbol of symbols" [value]="symbol">
                            {{symbol}}
                        </option>
                    </select>
                </mat-form-field>
                <mat-form-field appearance="fill" class="full-width">
                    <mat-label>Amount</mat-label>
                    <input matInput type="number" [(ngModel)]="amount">
                </mat-form-field>
            </mat-card-content>
        </mat-card>

        <mat-card class="mb-3">
            <h4 class="mb-3">Rule settings</h4>
            <mat-card-content>
                <mat-form-field appearance="fill" class="full-width">
                    <mat-label>Rule</mat-label>
                    <select matNativeControl [(ngModel)]="selectedRule">
                        <option disabled></option>
                        <option *ngFor="let rule of rules" [ngValue]="rule">
                            {{rule.name}}
                        </option>
                    </select>
                </mat-form-field>
                <form #ruleInputs>
                    <div *ngFor="let parameter of selectedRule?.parameters">
                        <mat-form-field appearance="fill" class="full-width" *ngIf="ruleParameterInputs[parameter]">
                            <mat-label>{{ruleParameterInputs[parameter].label}}</mat-label>
                            <input matInput type="{{ruleParameterInputs[parameter].type}}" name="{{parameter}}">
                        </mat-form-field>
                    </div>
                </form>
            </mat-card-content>
        </mat-card>

        <button mat-raised-button color="primary" class="full-width" (click)="startNewOrderExecution()">Start</button>

    </div>
</div>
