<div *ngIf="hasAnyAuthority('ROLE_USER')">
    <mat-selection-list [multiple]="false">
        <div mat-subheader>Executions</div>
        <mat-list-option routerLink="order-executions">
            <mat-icon mat-list-icon>add_comment</mat-icon>
            <div mat-line>Order</div>
        </mat-list-option>
        <mat-list-option routerLink="strategy-executions">
            <mat-icon mat-list-icon>shuffle</mat-icon>
            <div mat-line>Strategy</div>
        </mat-list-option>
        <mat-list-option routerLink="chain-exchange-executions">
            <mat-icon mat-list-icon>repeat</mat-icon>
            <div mat-line>Chain exchange</div>
        </mat-list-option>
        <div mat-subheader>Account</div>
        <mat-list-option routerLink="account/settings">
            <mat-icon mat-list-icon>settings</mat-icon>
            <div mat-line>Settings</div>
        </mat-list-option>
        <mat-list-option routerLink="account/password">
            <mat-icon mat-list-icon>vpn_key</mat-icon>
            <div mat-line>Password</div>
        </mat-list-option>
        <mat-list-option (click)="logout()">
            <mat-icon mat-list-icon>exit_to_app</mat-icon>
            <div mat-line>Sign out</div>
        </mat-list-option>
    </mat-selection-list>
</div>
<div *ngIf="hasAnyAuthority('ROLE_ADMIN')">
    <mat-selection-list [multiple]="false">
        <div mat-subheader>Administration</div>
        <mat-list-option routerLink="admin/user-management">
            <mat-icon mat-list-icon>person</mat-icon>
            <div mat-line>User management</div>
        </mat-list-option>
        <mat-list-option routerLink="admin/tracker">
            <mat-icon mat-list-icon>remove_red_eye</mat-icon>
            <div mat-line>User tracker</div>
        </mat-list-option>
        <mat-list-option routerLink="admin/metrics">
            <mat-icon mat-list-icon>insert_chart_outlined</mat-icon>
            <div mat-line>Metrics</div>
        </mat-list-option>
        <mat-list-option routerLink="admin/health">
            <mat-icon mat-list-icon>enhanced_encryption</mat-icon>
            <div mat-line>Health</div>
        </mat-list-option>
        <mat-list-option routerLink="admin/configuration">
            <mat-icon mat-list-icon>playlist_add_check</mat-icon>
            <div mat-line>Configuration</div>
        </mat-list-option>
        <mat-list-option routerLink="admin/audits">
            <mat-icon mat-list-icon>notifications_active</mat-icon>
            <div mat-line>Audits</div>
        </mat-list-option>
        <mat-list-option routerLink="admin/logs">
            <mat-icon mat-list-icon>library_books</mat-icon>
            <div mat-line>Logs</div>
        </mat-list-option>
        <mat-list-option routerLink="admin/docs">
            <mat-icon mat-list-icon>device_hub</mat-icon>
            <div mat-line>API</div>
        </mat-list-option>
        <div mat-subheader>Account</div>
        <mat-list-option (click)="logout()">
            <mat-icon mat-list-icon>exit_to_app</mat-icon>
            <div mat-line>Sign out</div>
        </mat-list-option>
    </mat-selection-list>
</div>
